<html>
	<head>
		<title>Company List</title>
	</head>
<center>
<h1>Recruitment</h1>

<br>
In the department lots of companies visited.Lots of students of our department
<br>
has been selected in reputed companies including Multinational as well as Local
<br>companies.
<br>
following is the list of companies which has been visited to our Department.
<br>
<br>
<table border=2 width="40%">
<tr>
	<td>Sr. No.</td>
	<td>Name</td>
	<td>Type</td>
</tr>
	<tr>
		<td>1</td>
		<td>Persistent</td>
		<td>Multinational</td>
	</tr>
	
	<tr>
		<td>2</td>
		<td>Harbinger</td>
		<td>Multinational</td>
	</tr>
	
	<tr>
		<td>3</td>
		<td>WebTech</td>
		<td>Multinational</td>
	</tr>
	
	<tr>
		<td>4</td>
		<td>Vyoms Lab</td>
		<td>Multinational</td>
	</tr>

		<tr>
		<td>5</td>
		<td>Kanaka Softwares pvt.Ltd</td>
		<td>Multinational</td>
		
	</tr>
	
	<tr>
		<td>6</td>
		<td>Sleep and Hungry</td>
		<td>Local</td>
	</tr>
	
	<tr>
		<td>7</td>
		<td>Symantech</td>
		<td>Multinational</td>
	</tr>
	
	<tr>
		<td>8</td>
		<td>Mes-Tech</td>
		<td>Multinational</td>
	</tr>
	
</html>