
<html>

<head><title>Extra Curiculam
</title></head>

<h1> Mpulse</h1><br>
<br>

M-PULSE ANNUAL REPORT (2014-15)

'M-Pulse' is our annual 'Techno-Management' extravaganza, an event par excellence that was started in 2006.
<br> M-Pulse is a veritable playground for the most intelligent minds in the engineering and Management disciplines that pits the best in 
the business against one another in a quest for glory.
<br> Ever since its inception in 2006, its reputation and the consequent response has been increasing phenomenally.

<br>'M-Pulse' is a team of students who work for the technical festival of the college.
<br> The students work rigorously for 2-3 months with the help of Staff Coordinator to prepare and to manage for the tech-fest.
<br> M-Pulse Team is working for the techno-management event right from 2006.

<br>M-Pulse 2015 was hosted on 13th & 14th February 2015 between 8 am and 6 pm.
<br> The event was inaugurated by Prof. Dr. S. Ananthkrishnan,(Former Director, GMRT, Senior Scientist Instrumentation and Control Labs, 
<br>Savitribai Phule Pune University), 
<br>Hon. Dr. G. R. Ekbote(Chairman, Progressive Education Society), and Dr. Mrs. K. R. Joshi, Principal, Modern College of Engineering.

<br>Each year, team M-Pulse enhances its events based on different themes. This year, "Make in India" was the theme for M-Pulse.

<br>Team M-Pulse also invites various knowledgeable persons from industry and various other fields so that students get to interact with them. 
<br>It also fosters the motive of reaching out our efforts to masses every year as we grow in fame and grandeur.

<br>Team M-Pulse arranges for events department wise which include the core concepts and areas respective to the 7 departments we have in
 <br>our college namely Computer, ENTC, IT, Electrical, Mechanical, MCA, MBA. Each department has a respective departmental team headed by their
 <br>own department students who co-ordinate with the entire event core team.

<br>Team M-Pulse has been actively participating in different social activities like Pulsathon which was conducted last year. Every year we focus 
<br>on improving the quality of the event making it more technically sound and prospering in terms of active participation of students across Pune.

<br>This year we focused on our theme by arranging for at least one event based on theme under every department. We received great help from all 
<br>departmental staff and also from students who worked day and night in making the event a success. We used various mass media communication 
<br>techniques to reach out to people. We went for Radio city, newspaper clippings, posters, banners, hoardings etc.

<br>All these efforts showed true colors in this event by getting us collaborations like GOEL Ganga sponsors etc. Few of our other sponsors included:

<br>Outdoor Partner- Sixth Element
<br>Food Partner -Eagle Boys Pizza
<br>-Dragon
<br>Travel Partner- Panda Travel
<br>Aqua Parent- Kate
<br>Radio Partner- Radio City 91.1
<br>Media Partner- Maharashtra Times
<br>Beverage Partner-KS drink

<br>This M-Pulse has expanded in every sense right from increase in count of events along with technical aspect. 
<br>We also excelled in marketing by having collaborations as mentioned above and many more in context to departmental event sponsors like All Scripts etc.
 <br>We also have a stand in getting quite a decent number of students across Pune to participate in our events in spite of the difficulties due 
<br> to changed exam patterns.

<br>Thus, M-Pulse 2015 has been a successful event with consistent efforts of all those who are associated with it.


</html>