<html>

<head><title>Placment</title></head>

<h1> Pre-Placement</h1>
Training and Placement Activities<br>
<br>
MCA Students have been placed at prestigious companies like <font color=blue><b>Persistent, Symantec, Autodesk, Quickheal, TCT Infotech, UNICUS Solutions </b></font>etc.<br>
Pre-Placement Activities conducted under "Sankalp"<br>
<br>
    <br>Mr.Gaurav Ambedkar, Soft skill expert conducted lecture on Soft skills, Personality development.
    <br>Mr.Avinash Wagh conducted lecture on soft skill.
    <br>Mr.Bharat Deshmukh conducted training on Data Warehouse and Data Mining.
    <br>Mr. Sagar Rahurkar conducted training on Cyber Fraud and Investigation.
    <br>Mr.Shripad Ghodake conducted lecture on Knowledge Management and Share point.
    <br>Mr.Kunal Gupta from EQ-Technologic conducted lecture on Project Guidance.
    <br>Mr.Mahesh Chauhan conducted lecture and training on Android Application.
    <br>Mr.Surabh Oka conducted lecture on Oracle Application.
    <br>An alumnus of MCA department, Mr. Jay Mundada had conducted an orientation lecture on Quickheal Recruitment program.
    <br>List of company visited for Internship and Placements are Persistent, Symantec, Ashore, Alchemist, Kanaka, Quickheal etc.

</html>