<html>
<head><title>Research</title></head>

<h1>Research</h1>
<br><br>

<table border=1 width="60%">
<tr>
<h1>RESERCH</h1>
</tr>
<tr><h1>
Ph.D.</h1></tr>
<tr>
<td>Sr. No.</td> 	<td>Staff Name</td> 	<td>Topic</td> 	<td>Completion date</td> 	<td>Specialization</td></tr>
<tr>
<td>
1 	</td>
<td>Prof. Dr. Mrs. V. B. Sangvikar </td><td>	A Study Of Problem And Prospect Of Information Technology And Network Connectivity At Rural Places </td><td>	28th June 2011 </td><td>	Computer Networking
</td></tr>

<tr>
<td>
2 	</td><td>Dr. Mrs. M. V. Arjunwadkar</td><td> 	The knowledge based Intrusion Detection And Prevention Model For Biometric System </td><td>	08th April 2014 </td><td>	Information Security (Under Computer Studies)
</td></tr>

<tr>
<td>
3 </td><td>	Dr. Mrs. S. A. Budhkar </td><td>	Extraction Of Connector Classes From Object Oriented System While Recovering Software Architecture</td><td> 	17th September 2014 </td><td>	Software Engineering
</td><tr>
</table>


<h1>Staff pursuing Ph.D.</h1>
<table border=1 width="60%">
<tr>
<td>
Sr. No. </td><td>	Staff Name </td><td>	Topic </td><td>	Completion date </td><td>	Specialization</td></tr>

<tr>
<td>
1 	</td><td>Mrs. Pradnya Mulay </td><td>	To Optimize and Manage the Performance of Online Retail Industry using Data Mining Techniques </td><td>	03/03/2015</td><td> 	Data Mining</td><tr>
</table>


<h1>Research Area of Interest</h1>

<table border=1 width="60%">
<tr>
<td>
Sr. No.</td><td> 	Name of the Faculty</td><td> 	Research Area of interest</td><tr>

<tr>
<td>
1 	</td><td>Dr. Ms. Sangvikar V.B. 	</td><td>Rural network connectivity</td></tr>
<tr>
<td>
2 	</td><td>Dr.Ms. Arjunwadkar M.V. </td><td>	Information Security</td></tr>
<tr>
<td>
3 	</td><td>Dr. Ms.Budhkar S.A 	</td><td>Software Engineering</td></tr>
<tr>
<td>
4 	</td><td>Ms. Ghule S.D. 	</td><td>Embedded Technology</td></tr>
<tr>
<td>
5 	</td><td>Ms. Muley P.A. 	</td><td>Artificial Intelligence, Data Mining</td></tr>
<tr>
<td>
6 	</td><td>Mr. Puranik Y.L. 	</td><td>Cyber Law & IT security</td></tr>
<tr>
<td>
7 	</td><td>Ms. Adkar P.D. 	</td><td>Quality management(TQM)</td></tr>
<tr>
<td>
8 	</td><td>Ms.Abhyankar S.A. 	</td><td>Knowledge Management</td></tr>
<tr>
<td>
9 	</td><td>Ms. Mulay N.C. 	</td><td>Distributed Database management System</td></tr>
<tr>
<td>
10 	</td><td>Mr. Bhide S.S. 	</td><td>Image Processing(CBIR)</td></tr>
<tr>
<td>
11 	</td><td>Mr. Kene P.M. 	</td><td>Database management system</td></tr>
<tr>
<td>
12 	</td><td>Mrs. Rama Bansode</td><td>Softwear Testing </td></tr>	
</table>

<table border=1 width="60%">
<h1>
Research Projects/Schemes undertaken by teachers
</h1>

<tr>
<td>

Sr. No. </td><td>	Name of Investigator(s) </td><td>	Title of Research Project/Scheme </td><td>	Name of Funding Agency </td><td>	Duration of project/Scheme </td><td>	Major/Minor</td></tr>

<tr>
<td>
1 	</td><td>Mrs. Arjunwadkar Maithili </td><td>	The Knowledge based intrusion Detection and prevention Model for Biometric process </td><td>	UGC </td><td>	2 yrs. </td><td>	Minor</td></tr>
</html>