
			
				<center>
				<h2><font style="Algerian"color="#AFEEEE">Faculty </font> </h2>
				</center>
		
			<center>
			<table class="table" align="center" border="0" cellpadding="5" cellspacing="5" >
				<tr>
					
					<td width="23%"><img src="Photos\HOD.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Dr. Vaishali Sangivikar </font><br>
							Head Of Department	<br>
							Doctrate from Pune Univercity <br>
							15 years Experiance <br>
							
						</p>
					</td>
					
				<tr>
				<tr>
					
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td width="15%"> </td>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					</td>
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					</td>
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				<!-- second -->
				
				<tr>
					<td width="23%"><img src="Photos\Adkar_Mam.jpg" alt="......" class="img-circle" width="180" height="180"></td>
					<td>
						<p Style="font-family:Comic Sans MS;font-size:22;line-height:1.5em;color:#00CED1;">
							<font color="#ff9900" size="6">Prof. Pratibha Adkar </font><br>
							Senior Professor	<br>
							MCA from  <br>
							12 years Experiance <br>
							
						</p>
					</td>
				<tr>
				<tr>
					<td ></td>
					<td> </td>
				<tr>
				
				
				

				
			</table>
			</center>			
				