

<html>

<head><title>Students</title></head>

<h1> Students </h1>
<br>

About MCA

<br>The department of Master In Computer Application (MCA) has been started in the academic year 2003-04 
<br>and is permanently affiliated to Savitribai Phule Pune University and recognized by AICTE and DTE. 
<br>The mission of the department is to contribute to the growth of technical education and to lead to its 
<br>enrichment and advancement. 
<br>Create and disseminate knowledge by constituting a scholarly community focused on research and education in <br>
the area of Computer Science. Our programme equips our students to be competitive, to succeed in their profession,
 <br>and to contribute to society. To ensure this, with the able guidance of our Principal Prof. Dr. Mrs. K. R. Joshi 
 <br>the department conducts various National, State level Seminars under Quality Improvement Program. Our faculties 
 <br>have also presented and published research papers in various International & National journals and conferences. 
 <br>The department is having state-of-the-art classrooms and laboratories with latest configuration machines with backup facility.
 <br><br>

<h1>
 Student's Success
</h1>

<br>We help students to excel in the professional world and to be successful in all walks of life. 
<br>To inculcate social awareness among the students department organizes various social activities.
<br> For extra-curricular development we encourage students to participate in Seminars, Project competitions, workshops,
<br> technical events conducted on or off campus. For the skill development of the students department conducts various guest lectures,
<br> workshops by Industry Experts.
<br>
These building blocks allow students to flourish in their Life.
<br>
Come and Join our alumni to shape your dream future.
<br>
<br><br>


<table border=1 width="40%">
<tr>
<h2>First Year MCA Toppers</h2>
</tr>
<tr>
<td>
Rank</td><td> 	Name of Student(s)</td></tr>
<tr>
<td>
1 	</td><td>Jaya Tiwari</td></tr>
<tr>
<td>
2 	</td><td>Gauri Mishrakoti</td></tr>
<tr>
<td>
3 	</td><td>Patil Sneha</td></tr>
<tr>
<td>
4 	</td><td>Padawal Ashwini, Varma Nidhi</td></tr>
<tr>
<td>
5 	</td><td>Lonkar Rutika</td></tr>
</td></tr>
</table>


<table border=1 width="40%">
<tr>
<h2>Second Year MCA Toppers</h2>
</tr>
<tr>
<td>
Rank</td><td> 	Name of Student(s)</td></tr>
<tr>
<td>1 	</td><td>Bramhanand Phatak</td></tr>
<tr>
<td>2 	</td><td>Waman Priyanka</td></tr>
<tr>
<td>3 	</td><td>Chilwar Sneha</td></tr>
<tr>
<td>4 	</td><td>Gadhe Sneha</td></tr>
<tr>
<td>5 	</td><td>Prachi Bari</td></tr>
</td></tr>
</table>


<table border=1 width="40%">
<tr>
<h2>Third Year MCA Toppers</h2>
</tr>
<tr>
<td>
Rank</td><td> 	Name of Student(s)</td></tr>
<tr>
<td>1 	</td><td>Priyanka Kaushik</td></tr>
<tr>
<td>2 </td><td>	Manoj Shirsath</td></tr>

<tr>
<td>3 </td><td>	Priyanka Thomre</td></tr>
<tr>
<td>4 </td><td>	Snehal Jain</td></tr>
<tr>
<td>5 </td><td>	Reema Shaha</td></tr>
<table>

</html>

